<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout" xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">
    <!-- Mostrar mensaje de confirmacion en caso de exito -->
    <div th:if="${msg != null }">
        <script>
            Swal.fire({
                title: "Confirmacion",
                text: '[[${msg}]]',
                icon: "success"
            });
        </script>
    </div>

    <!-- Mostrar mensaje de error en caso de error -->
    <div th:if="${error != null }">
        <script>
            Swal.fire({
                title: "Error",
                text: '[[${msg}]]',
                icon: "error"
            });
        </script>
    </div>

    <h1>Listado de Docentes</h1>
    <a th:href="@{/docentes/create}" class="btn btn-outline-primary">Nuevo Docente</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Escuela</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item: ${docentes}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.nombre}"></td>
            <td th:text="${item.apellido}"></td>
            <td th:text="${item.email}"></td>
            <td th:text="${item.telefono}"></td>
            <td th:text="${item.escuela}"></td>
            <td>
                <a th:href="@{/docentes/details/{id} (id=${item.id})  }" class="btn btn-outline-secondary">Datalles</a>
                <a th:href="@{/docentes/edit/{id} (id=${item.id})  }" class="btn btn-outline-info">Editar</a>
                <a th:href="@{/docentes/remove/{id} (id=${item.id})  }" class="btn btn-outline-danger">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item" th:each="pagenumber : ${pageNumbers}">
                <!--<a class="page-link" th:href="@{/grupos?page=${pagenumber} }" th:text="${pagenumber}"></a>-->
                <a class="page-link" th:href="@{/docentes(page=${pagenumber})}" th:text="${pagenumber}"></a>
            </li>
        </ul>
    </nav>
</div>